ion-card {
    height: 360px;
}

ion-card-title {
    text-align: justify; 
    font-size: 20px;
}

.contenido {
    text-align: end;
}

.contenido ion-button {
    text-transform: capitalize; 
    text-decoration:underline; 
    color: #2665AA;
}

ion-modal {
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
  
ion-modal ion-toolbar {
    --background: #2665AA;
    --color: white;
}

ion-button {
    --ion-color-primary: #2665AA;
    --ion-color-primary-rgb: 56, 128, 255;
}

ion-icon {
    width: 30px;
    height: 30px;
    color: white;
}

p {
    text-align: justify;
}