<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Clave</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Cédula</ion-label>
        <ion-input clearInput value="X" type="text" placeholder="Cédula" [(ngModel)]="cedula"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input clearInput value="X" type="text" placeholder="Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      
      <ion-item lines="none" class="item">
        <ion-button fill="outline" (click)="recuperarClave()">Recuperar</ion-button>
      </ion-item>
      
    </ion-list>
  </div>
</ion-content>