ion-item {
    margin-bottom: 10px;
    --ion-color-primary: #2665AA;
}

ion-button{
    --ion-color-primary: #2665AA;
    width: 240px;
    height: 40px;
    font-size: 14px;
    text-transform: none;
    border-radius: 6px;
}
