ion-card {
    margin-bottom: 20px;
    height: 440px;
}

ion-card-title {
    text-align: center; 
    font-size: 20px;
}

ion-card-subtitle {
    text-align: center;
}

ion-card-content {
    font-size: 14px;
}

a {
    color: #2665AA;
    margin-left: 3px;
}

ion-icon {
    margin-bottom: -3px;
}
