:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

ion-modal {
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
  
ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
  
ion-modal ion-toolbar {
    --background: #2665AA;
    --color: white;
}

ion-icon {
    color: black;
}

ion-slides {
    height: 100%;
    text-align: justify;
}

.swiper-slide {
    display: block;
}

.swiper-slide h2 {
    margin-top: 2.8rem;
}

.swiper-slide img {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
}

h2 {
    font-size: 18px;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
}

.text-justify {
    text-align: justify;
}